<html>
<head>
  <meta charset="ISO-8859-1">
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script src="{{ url_for('static', filename='jquery-3.1.1.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
</head>
<body>
<div class="container">
 <div class="row" style="height: 13%;">
      <div class="col-md-12">    
        <h1 class="display-1 text-center" style=" font-size:50px; margin-top:2%; cursor: pointer;" onclick="location.href='http://127.0.0.1:5000/';"> 
          &nbsp A walk in Brescia / <small>{{place['label']}}</small></h1> 
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12"  style="height: 1%; background:linear-gradient(to right, green, yellow, orange, brown, purple, blue)">
      </div>
  <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Generic informations</div>
          <!-- Table -->
          <table class="table">
            <tr>
              <td>Wikidata ID:</td>
              <td>{{place['wikidata_id']}}</td> 
            </tr>
            <tr>
              <td>Url:</td>
              <td><a href="{{place['uri']}}">{{place['uri']}}</a></td> 
            </tr>
            <tr>
              <td>SurfaceForm:</td>
              <td>{{place['surfaceForm']}}</a></td> 
            </tr>
              <tr>
              <td>Aggregated type:</td>
              <td>{{place['aggregated_type']}}</td> 
            </tr>
            <tr>
              <td>Type:</td>
              <td>{{place['type']}}</td> 
            </tr>
           <tr>
              <td>Citato in:</td>
              <td>{{ n_a }} articoli</td> 
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
        <div class="panel-heading">Most frequent words</div>
        <ul class="list-group">
          {% for i in range(0,words['words'].__len__()) %}
          <li class="list-group-item">
            <span class="badge">{{words['words'][i]['num']}}</span>
            {{words['words'][i]['word']}}
          </li>
          {% endfor %}
        </ul>
        </div>
      </div>

      
      <div class="col-md-5">
        <div class="panel panel-default">
        <div class="panel-heading">Most linked entities</div>
        <ul class="list-group">
          {% for i in range(0,entities.__len__()) %}
          <li class="list-group-item">
            <span class="badge">{{entities[i]['count']}}</span>
            <a href="{{entities[i]['uri']}}">{{entities[i]['uri_short']}} - "{{entities[i]['surfaceForm']}}"</a>
          </li>
          {% endfor %}
        </ul>
        </div> 
         </div>
        <div class="col-md-5">
        <div class="panel panel-default">
        <div class="panel-heading">Most linked places</div>
        <ul class="list-group">
          {% for i in range(0,places.__len__()) %}
          <li class="list-group-item">
            <span class="badge">{{places[i]['count']}}</span>
            <a href="{{places[i]['uri']}}">{{places[i]['uri_short']}} - "{{places[i]['surfaceForm']}}"</a>
          </li>
          {% endfor %}
        </ul>
        </div> 
         </div>
        </div>
    </div>

</body>
</html>